---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
permalink: /team/
---

<!-- Staff -->

<h2><a id="staff"></a>Staff</h2>

{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
<ul class="list-unstyled">
{% for member in members %}
    {%- include team_member.html -%}
{% endfor %}
</ul>

<!-- Researchers -->

<h2><a id="student"></a>Researchers</h2>

{% assign members = site.posts | where: 'category', 'postdoc' | sort: 'date' %}
<ul class="list-unstyled">
{% for member in members %}
    {%- include team_member.html -%}
{% endfor %}
</ul>

<!-- Students -->

<h2><a id="student"></a>Students</h2>

{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
<ul class="list-unstyled">
{% for member in members %}
    {%- include team_member.html -%}
{% endfor %}
</ul>
