---
title: Publications
layout: page
excerpt: RT2 Lab -- Publications.
permalink: /publications/
---

<ul class="list-unstyled">
    {% assign pub_list = site.data.publications | sort: 'Publication Year' | group_by: 'Publication Year' | reverse %}

    {% for group in pub_list %}

        {% assign year = group.name | to_integer %}

        <h3 class="mt-4">{{ year }}</h3>
        {% for publi in group.items %}
            {%- include publication.html -%}
        {% endfor %}

    {% endfor %}
</ul>
