---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<ul class="list-group">
{% for publi in site.data.publications %}
    <li class="list-group-item">
        <!-- authors -->
        {% assign authors = "" | split:"/" %}
        {% for author in publi.author %}
            {% assign authors = authors | push: author.family %}
        {% endfor %}
        {{ authors | array_to_sentence_string }},

        <!-- title with link -->
        "{{ publi.title }}",

        <!-- container -->
        <b>{{ publi.container-title }}</b>,

        <!-- DOI -->
        {% if publi.DOI %}
            <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
        {% endif %}
    </li>
{% endfor %}
</ul>
