<div id="footer" class="site-footer mt-5">
	<div class="mt-3">
		<div class="row d-flex">

			<div class="col-sm-6">
				<p class="font-weight-bold">{{ site.title }}</p>

				<ul class="list-unstyled list-inline">
					<!-- <li class="list-inline-item">
						<a href="https://institut-curie.org/">
							<img class="img-fluid" src="/assets/images/curie.png" style="max-height: 40px;">
						</a>
					</li> -->

					<li class="list-inline-item">
						<a href="https://u-paris.fr/en/498-2/">
							<img class="img-fluid" src="/assets/images/universite-paris.png" style="max-height: 40px;">
						</a>
					</li>

					<li class="list-inline-item">
						<a href="https://www.inserm.fr/">
							<img class="img-fluid" src="/assets/images/inserm.png" style="max-height: 30px;">
						</a>
					</li>
				</ul>

			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/rt2lab">Github</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Contact</p>

				Institut Curie<br>
				26 rue d'Ulm<br>
				75005 Paris<br>
				France
			</div>
		</div>

		<div class="footer-copyright text-center py-3">
			© 2020 {{ site.author }}
		</div>
	</div>
</div>
