<header class="site-header" role="banner">

	<nav class="navbar navbar-expand-sm navbar-light px-0">

		<!-- Navbar brand -->
		<a class="navbar-brand" href="/">{{ site.title }}</a>

		<!-- Navbar toggler button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
			aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link" href="/team">Team</a>
				</li>

				<li>
					<a class="nav-link" href="/publications">Publications</a>
				</li>
			</ul>
		</div>

	</nav>

</header>
