<li class="media mb-1">
    <div class="media-body">

        <p>
            <!-- author -->
            {{ publi.Author }},

            <!-- year -->
            {{ publi['Publication Year'] | to_integer }},

            <!-- article title -->
            "{{ publi.Title }}",

            <!-- journal -->
            <span class="font-italic">{{ publi['Publication Title'] }}</span>,

            {% if publi.Volume != "" and publi.Issue != "" and publi.Pages != "" %}
                vol. {{ publi.Volume | to_integer }},
                no. {{ publi.Issue | to_integer }},
                pp. {{ publi.Pages }}
            {% endif %}

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
        </p>

    </div>
</li>
